.goods-list-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    padding: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s ease-in-out
}

.goods-list-wrapper.visible {
    transform: translateY(0px);
    opacity: 1;
}

.card-item-wrapper {
    height: 200px;
    width: 200px;
    border-radius: 6px;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-item-wrapper:hover {
    transform: translateY(-2px);
}

.detail-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 800px;
    width: 1000px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 18px;
    padding-top: 36px;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s ease-in-out;

}

.detail-modal.visible {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.close-icon {
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 8px;
    font-size: 24px;
}